---
import Github from "../icons/Social/Github.astro"
---

<footer class="opacity-80 m-4 mt-8 w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex justify-center">
  <div class="rounded-lg w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between py-4">
    
    <!-- Nombre + GitHub -->
    <span class="text-lg font-semibold md:text-center flex items-center text-themed">
      <a href="https://github.com/RobertoRodesLuchoro"
         target="_blank"
         rel="noopener noreferrer"
         class="hover:underline flex items-center ml-2 text-themed">
        <Github class="size-6 md:size-6 mr-2 text-themed" />
        Roberto Rodes Luchoro
      </a>.
    </span>

    <!-- Enlaces -->
    <ul class="flex flex-wrap items-center mt-3 text-lg font-medium text-themed sm:mt-0">
      <li>
        <a href="#sobremi" class="hover:underline me-4 md:me-6 text-themed">Sobre mí</a>
      </li>
      <li>
        <a id="contacto" href="mailto:robertorodesluchorodev@gmail.com" class="hover:underline text-themed">Contacto</a>
      </li>
    </ul>

  </div>
</footer>
