<section class="flex flex-col md:flex-row gap-x-8 justify-center items-center text-justify">
<div class="[&>p]:mb-4 [&>p>strong]:text-blue-300 [&>p>strong]:font-semibold text-pretty leading-relaxed text-xl">
    <p>
            Me llamo Roberto Rodes Luchoro, tengo 22 años y soy de Alicante, España. He estudiado <strong>Desarrollo de Aplicaciones Multiplataforma </strong> en el I.E.S. Mare Nostrum y <strong>Autmoción</strong> en el I.E.S. La Torreta de Elche.
    </p>
    
    <p>
        Siempre estoy buscando oportunidades para <strong>crecer</strong> como profesional y prepararme para el mundo laboral.
    </p>

    <p class="text-pretty">
        Todos los días continúo desarrollando mis habilidades como dev <strong>Full-Stack</strong>, participando en proyectos y haciendo cursos que me permitan <strong>aprender y crecer</strong> como programador. 
    </p>
</div>
<img src="/img/fotoPerfil.png" alt="yo" class="rounded-full size-64">


</section>